<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
        <header>
          <h1><a href="{{ "/" | absolute_url }}">Alberto García Hernández</a></h1>
          <h3>Data Scientist</h3>
          <!-- <p> Machine Learning | NLP | Statistics | Software Engineering | Economics</p> -->
          <p class=bio>
            Data Scientist with 3 years of experience with expertise in Time Series Forecasting and 
            NLP. Skilled in developing production level code to build and deploy
            (CI/CD) data products. Proficient in Python, NLP, SQL, TensorFlow, Keras, Spark and statistics. 
          </p>
  
          <div>
            <img src="profile.jpg" alt="Profile" />
          </div>
          
  
          <ul class="menu-buttons">
            <li><a href="https://www.linkedin.com/in/albergar2/">LinkedIn</a></li>
            <li><a href="http://www.github.com/albergar2">GitHub</a></li>
            <li><a href="http://www.github.com/albergar2">Projects</a></li>
          </ul>
  
          
          
        </header>
        <section class=center>
  
        {{ content }}
  
        </section>
        <footer>
          
        </footer>
      </div>
      <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>